# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend_react/node_modules
frontend_react/.pnp
.pnp.js

# testing
frontend_react/coverage

# production
frontend_react/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

secret.txt

#temporary
backend_flask/*
openai-backend/*
flaskapp-test/*
test/*
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
