@import '../../styleConstants';
.TextPop{
    color:$secondary-color;
}

.TextRed{
    color:red;
}

.Description{
    margin-top: 0px;
    color: RGB(red($off-white), green($off-white), blue($off-white),0.9);
}

.Disclaimer{
    margin-top: 0px;
    font-size: 1rem;
    color: RGB(red($off-white), green($off-white)-150, blue($off-white)-100,0.8);
}

.LogoImage{
    height: 5rem;
    border-radius: 10px;
}

.Link{
    color:RGB(red($off-white), green($off-white), blue($off-white),1);
    &:hover{
        color: rgb(28, 183, 230);
    }
}
