@import '../../colors';

.Button {
    border-radius: 8px;
    font-weight: bold;
    transition: all 0.2s ease-out;
    $p-h:10px;
    padding-left: $p-h;
    padding-right: $p-h;
    overflow: hidden;
    user-select: none;
    min-height: fit-content;
    text-transform: capitalize;

    &.Tall{
      $p-tb:1rem;
      padding-top: $p-tb;
      padding-bottom: $p-tb;
    }

    &.Enabled{
      background-color: $primary-color;
      border: 3px solid $primary-color;
      color: $secondary-color;
      
      cursor: pointer;
      &:hover {
        color: $primary-color;
        background-color: $secondary-color;
        border: 3px solid $secondary-color;
    }
    &.Active {
      color: $primary-color;
      background-color: $secondary-color;
      border: 3px solid $secondary-color;
  }
    }

    &.Alt{
      background-color: $tertiary-color;
        border: 3px solid $tertiary-color;
      color: $off-white;
      
      cursor: pointer;
      &:hover {
        color: $primary-color;
        background-color: $secondary-color;
        border: 3px solid $secondary-color;
    }
    &.Active {
      color: $primary-color;
      background-color: $secondary-color;
      border: 3px solid $secondary-color;
  }
  }

  &.Red{
    background-color: red;
    border: 3px solid red;
    color: $off-white;
    cursor: pointer;
    &:hover {
      $hover-red: RGB(red(red),green(red),blue(red),0.6);
      color: $off-white;
      background-color: $hover-red;
      border: 3px solid $hover-red;
  }
  &.Active {
    color: $primary-color;
    background-color: $secondary-color;
    border: 3px solid $secondary-color;
}
}

&.Green{
  background-color: green;
  border: 3px solid green;
  color: $off-white;
  cursor: pointer;
  &:hover {
    $hover-red: RGB(red(green),green(green),blue(green),0.6);
    color: $off-white;
    background-color: $hover-red;
    border: 3px solid $hover-red;
}
&.Active {
  color: $primary-color;
  background-color: $secondary-color;
  border: 3px solid $secondary-color;
}
}

&.Test{
  $test-color:RGB(red($tertiary-color)+40,green($tertiary-color)+50,blue($tertiary-color)+50);
  background-color: $test-color;
  border: 3px solid $test-color;
  color: $off-white;
  cursor: pointer;
  &:hover {
    $hover: RGB(red($tertiary-color)+50,green($tertiary-color)+50,blue($tertiary-color)+50,0.8);
    color: $off-white;
    background-color: $hover;
    border: 3px solid $hover;
}
&.Active {
  color: $primary-color;
  background-color: $secondary-color;
  border: 3px solid $secondary-color;
}
}

    &.Dotted{
      background-color: $primary-color;
      border: 3px dashed $secondary-color;
      color: $secondary-color;
      cursor: pointer;
      &:hover {
        color: $primary-color;
        background-color: $secondary-color;
        border: 3px solid $secondary-color;
    }
    }

    &.Disabled{
        background-color: gray;
        border: 3px solid gray;
        color: RGB(red($off-black),green($off-black),blue($off-black),0.5);
        cursor:initial;
    }
  }

  .hiddenButton{
    display: none;
  }