@import '../../styleConstants';

.SidebarDeck {
    width: 250px;
    height: 100vh;
    background-color: $primary-color;
    animation: SidebarDeckPop 1s ease-in-out 0s 1 ;
    z-index: $sidebar-deck-layer;
    position: fixed;
    top: 0;
    left: 0;
    color: $off-white;
    h2{
        font-weight: lighter;
        span{
            color: $secondary-color;
        }
    }
    h3{
        font-weight: lighter;
        text-decoration: underline;
    }
    .Greet{
        font-weight: bolder;
        text-decoration:none;
    }
    ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin-left: 0px;
        left: 0;
        >*{
            margin-top: 1rem;
        }
    }
}
    
.GlassBackdrop{
    position: fixed;
    width: 250px;
    height: 100vh;
    background-color: RGB(red($off-black),green($off-black),blue($off-black),0.7);
    z-index: $sidebar-cover;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  @keyframes SidebarDeckPop {
    0%{
        transform: translateX(-100vw);
        padding-left: 100px;
    }
    80%{
        transform: translateX(0px);
        padding-left: 20px;
        z-index: $sidebar-deck-layer;
    }
    100%{
        transform: translateX(0px);
        padding-left: 0px;
        z-index: $sidebar-deck-layer;
    }
    
  }

  .LogoImage{
    height: 5rem;
    border-radius: 10px;
    margin-top: 1rem;
  }
  