@import '../../colors';

.SidebarDeck {
    width: 250px;
    height: 100vh;
    background-color: $primary-color;
    border-right: 1px solid $border-color;
    position: fixed;
    top: 0;
    left: 0;
    color: $off-white;
    h2{
        font-weight: lighter;
        span{
            color: $secondary-color;
        }
    }
    ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin-left: 0px;
        left: 0;
        >*{
            margin-top: 1rem;
        }
    }
}
    