@import '../../styleConstants';


.Hide{
    font-weight: lighter;
    visibility: hidden;
    span{
        color: $secondary-color;
    }
}
.TitleName{
    font-weight: bold;
    // text-decoration: underline;
    span{
        text-transform: capitalize;
    }
    .Eval{
        text-decoration: underline;
    }
}

.DeckForm{
    display: 'block';
    min-width: 50vh;
    max-width: 50vw;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    .NameInputPair{
        display: 'flex';
        justify-content: 'space-between';
        align-items: 'center';
        margin-bottom: 10px;
        label{
            margin-right: 10px;
        }
        input{
            flex: 1;
        }
    }
}

.CardAddForm{
    display: 'block';
    min-width: 10vw;
    max-width: 100%;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    .NameInputPair{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: left;
        text-align: left;
        margin-bottom: 1rem;
        .TermInput{
            font-size: 24px;
        }
        .AnsInput{
            height: 100px;
            font-size: 24px;
            resize: none;
        }
    }>*{
        margin-bottom: 10px;
    }
}

.FinishButtonGroup{
    display: 'block';
    min-width: 10vw;
    max-width: 100%;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    >*{
        margin-bottom: 10px;
    }
}

.CardAnsForm{
    display: 'block';
    min-width: 10vw;
    max-width: 100%;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    .NameInputPair{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: left;
        text-align: left;
        margin-bottom: 1rem;
        .TermInput{
            font-size: 24px;
            background-color: RGB(red($background-color)+10,green($background-color)+20,blue($background-color)+20);
            color: $off-white;
        }
        .AnsInput{
            height: 100px;
            font-size: 24px;
            resize: none;
            background-color: RGB(red($background-color)+10,green($background-color)+20,blue($background-color)+20);
            color: $off-white;
        }
        .AttemptInput{
            height: 100px;
            font-size: 24px;
            resize: none;
            &ReadOnly{
                background-color: RGB(red($background-color)+10,green($background-color)+20,blue($background-color)+20);
                color: $off-white;
            }
        }
    }
    >*{
        margin-bottom: 10px;
    }
    .ButtonLayout{
        display: grid;
        width: 100%;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 10px;

        .LeftButton{
            justify-self: right;
        }
        .RightButton{
            justify-self: left;
        }
    }
}

.LoginForm{
    display: 'block';
    min-width: 10vw;
    max-width: 100%;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    color: $off-white;
    
    .NameInputPair{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: left;
        text-align: left;
        margin-bottom: 1rem;
        .TermInput{
            font-size: 24px;
        }
        .AnsInput{
            height: 100px;
            font-size: 24px;
            resize: none;
        }
    }>*{
        margin-bottom: 10px;
    }
}

.Horizontal{
    display: grid;
    grid-auto-flow: column;
}

