// $primary-color: #2662B7;
// $primary-light:#26abb7;
// $primary-dark:#3226b7;
// $secondary-color: #b77b26;
// $alt-color-1: #7b26b7;
// $alt-color-2:#b72662;
// $off-white: #F6F6F6;
// $off-black: #343231;

$primary-color:#15353b;
$secondary-color:#4adde4;
$tertiary-color: #26554c;
$border-color: $tertiary-color;
$background-color:#070a11;
$off-white: #FDF9E3;
$off-black: #343231;