@import './styleConstants';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $off-white;
}

.Backdrop {
  background-color: $background-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: $off-white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.LoadHolder {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: $loader-backdrop;
  
  .LoadBackdrop {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0.8;
    background-color: $off-black;
    z-index: $loader-backdrop;
  }

  .LoadLogo {
    z-index: $loader-window;
    position: fixed;
    top: 45%;
    left: 50%;
    opacity: 1;
    border-radius: 10%;
    height: 10%;
    transform: translateY(-50%) translateX(-50%);
    animation: LoadLogoSpin 1s ease-in-out 0s infinite;
    transition: all ease-in-out;
  }

  @keyframes LoadLogoSpin {
    0%{
      transform: rotateZ(0deg);
      border-radius: 20%;
      filter: blur(0px);
    }
    20%{
      border-radius: 40%;
    }
    80%{
      border-radius: 40%;
    }
    100%{
      transform: rotateZ(1080deg) ;
      border-radius: 20%;
    }
  }
}